BODY {
    font-family:courier;
    background-color:#333;
    color:white;
}

BUTTON {
  font-family:courier;
  font-size:10pt;
}


#sequence {
    position:absolute;
}

.waveform.area {
  fill:steelblue;
}

.waveform.line {
  stroke:steelblue;
  fill:none;
}

.onset {
    fill:red;
    opacity:0.5;
}

.track {
    position:relative;
    left:200px;
    height:128px;
}

.trackName {
  position:absolute;
  left:-200px;
  white-space:nowrap;
  color:white;
  shape-rendering: crispEdges;
}

.playLine {
  background-color:green;
  width:1px;
  height:600px;
  top:0px;
  position:absolute;
}

.track svg {
    position:absolute;
}

.track canvas {
    position:absolute;
}

.brush {
  stroke: orange;
  fill:orange;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

/* comping */

.comp {
    fill:transparent;
    stroke:white;
    stroke-width:2;
}

.inbetween {
  fill:black;
  opacity:0.75;
  cursor:hand;
}

.resizer {
    fill:red;
    opacity:0;
    cursor:ew-resize;
}

.xAxis path,
.xAxis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.xAxis text {
  fill:white;
  shape-rendering: crispEdges;
}

/* taskFeedback */

.taskFeedback {
  width : 500px;
  height : 90px;
  overflow-y:hidden;
}

.taskFeedback .title {
  font-weight:bold;
  height:30px;
  height:30px;
}

.taskFeedback .stage {
  height:30px;
}

.taskFeedback .comment {
  position:absolute;
}

.taskFeedback .progress {
  position:absolute;
  width:500px;
  height:30px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: #222;
}

.taskFeedback .progressDone {
  background-color:orange;
  height:30px;
  width:0%;
}

/* the rendered video */

#renderedVideoContainer {
  padding:0px;
  overflow-y:hidden;
}

.downloadLink {
  float:right;
  margin-top:20px;
}

/* video search */

.videoSearchBox {
  width:400px;
  font-size:12pt;
}

.videoSearch .title {
  font-weight:bold;
  font-size:15pt;
  margin-top: 20pt;
  padding-bottom: 20px;
  display: block;
}

.audioRegionOutline {
  stroke:1px steelblue;
  fill:transparent;
}