BODY {
    font-family:helvetica;
    background-color:#333;
    color:white;
    padding:0;
    margin:0;
}


#main {
    padding:50px;
    padding-left:100px;
    height:100%
}

.trackName {
    position: relative;
    left: -100px;
    width: 100px;
    top: 10px;
    text-align:right;
    font-size:10pt;
    padding-top:9px;
}

.trackLoading {
    position:absolute;
    /*left:10px;*/
    width:100px;
    font-size:10pt;
    margin-top:8px;
}


#sequence {
    width:800px;
    background-color:black;
    border:1pt solid gray;
}

/* presets */

#presets > div {
    width: 150px;
    cursor: pointer;
    color: black;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    border: 1pt solid rgba(0, 0, 0, 0.3);
}

#presets > div:hover {
    background-color: rgba(77, 127, 184, 0.24);;
    color: black;
}

#presets > div.selected {
    background-color: rgba(77, 127, 184, 0.5);;
    color: black;
}

#presets div.new {
    border-style: dashed;
    color: rgba(0, 0, 0, 0.5);
}


/* waveform */

.area {
  fill:steelblue;
}

.line {
  stroke:steelblue;
  fill:none;
}


.area.loop {
    fill: #63a909;
    fill-opacity: 0.7;
}

.over .area {
    fill:#7BB7E8;
}

.over .area.loop {
    fill: #63a909;
    fill-opacity: 1;
}



/* timeline */

.timeline path,
.timeline line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.timeline text {
  fill:white;
  shape-rendering: crispEdges;
}

/* automation */

.automation path {
    stroke: orange;
    stroke-width: 2;
    fill: transparent;
    cursor: pointer;
}

.automation circle {
    fill: orange;
    cursor: pointer;
}

.automation circle:hover {
    stroke: white;
    stroke-width: 2px;
}

/* play line */

.playLine {
    background-color:green;
    width:1px;
    height:600px;
    top:0px;
    position:absolute;
}

/* transport */

.playStopButton {
    display: inline-block;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playStopButton circle {
    fill:#fcbe00;
    stroke:transparent;
    
}

.playStopButton polygon {
    fill: #63a909;
    stroke: transparent;
}

.playStopButton rect {
    fill: #ec0b1a;
    stroke: transparent;
}

/* comper */

.comp {
    fill:black;
    opacity:0.15;
}

.inbetween {
  fill:transparent;
  cursor:hand;
}

.resizer {
    fill:red;
    opacity:0;
    cursor:ew-resize;
}

/* sequence */

.sequence {
    white-space:nowrap;
}

.sequence .propertyPanel {
    float:left;
}



.trackName > span {
    position:absolute;
    overflow:visible;
    height:0px;
    left:-10px;
    width:100px;
    top:10px;
    font-size:10pt;
    text-align: right;
    color:rgba(77, 127, 184, 1);
}

/* play line */

.playLine {
    background-color:green;
    width:1px;
    height:600px;
    top:0px;
    position:absolute;
}

/* looping */

.timeline .loopSelector {
    cursor: col-resize;
    fill: transparent;
}

.timeline .loopSelector:hover {
    fill: rgba(0,0,0,0.05);
}

.timeline .loop {
    fill: #63a909;
    fill-opacity: 0.8;
    cursor: ew-resize;
}

.timeline .loop.disabled {
    fill: #63a909;
    fill-opacity: 0.4;
    cursor: col-resize;
}

.timeline .loopStart {
    cursor: w-resize;
    fill: transparent;
}

.timeline .loopEnd {
    cursor: e-resize;
    fill: transparent;
}


/* audio regions */

.audioRegion rect {
    stroke:orange;
    fill:transparent;
}

/* transport */

.playStopButton {
    display: inline-block;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playStopButton circle {
    fill: rgba(77, 127, 184, 0.5);
    stroke:transparent;
}

.playStopButton polygon {
    fill: #63a909;
    stroke:transparent;
}

.playStopButton rect {
    fill: #ec0b1a;
    stroke: transparent;
}

/* mixer */

/*
#mixer {
    height:300px;
}
*/

/* pot */

.pot {
    stroke : rgba(0, 0, 0, 0.3);
    stroke-width : 1;
    fill:rgba(0,0,0,0.1);
    cursor:pointer;
}

.pot text {
    fill: white;
    stroke: white;
}

.slider text {
    fill: black;
    stroke: black;
}

.pot path.background {
    fill:rgba(0 ,0, 0, 1);
}

.pot path.pan {
    fill: steelblue;
    stroke-opacity:1;
}

.over .pot path.pan, .dragging .pot path.pan {
    fill: #7BB7E8;
}

.pot circle {
    fill: transparent;
    stroke: transparent;
}


.over path.pan, .dragging path.pan {
    fill: #7BB7E8;
}

/* slider */

.slider rect {
    stroke: rgba(0, 0, 0, 0.3);
    fill:rgba(0,0,0, 1);
}

.slider circle {
    stroke: rgba(0, 0, 0, 0.3);
    fill: white;
    stroke-width:1px;
}

.slider .background {
    fill: rgba(77, 127, 184, 1);
    stroke-width: 1;
    stroke: rgba(77, 127, 184, 1);
}

.over .slider .background {
  fill: #7BB7E8;    
}

text {
    fill: rgba(77, 127, 184, 1);
    font-size:10pt;
}

.textTrack {
    text-align: center;
    vertical-align: center;
    display:inline-block;
}

